<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <link rel="stylesheet" href="numbers.css" />
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>my name is <%=name%></p>
    <p class="num"><%=numbers%></p>
    <% if (name == "sherif"){ %>
    <div>Age is 23</div>
    <% } %>
  </body>
</html>
